.footer{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    background: #0a1435;
    height: 300px;
}
.footer-logo a{
    text-decoration: none;
    margin: 3rem 0 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-logo img{
    height: 30px;
}
.footer-logo p{
    color: yellow;
    margin: 0 0.5rem;
    font-weight: 500;
    font-size: 30px;
}

.footer-content{
    margin: 2rem;
    display: flex;
    justify-content: center;
}
.footer-content div{
    width: 200px;
}
.footer-content div p{
    margin: 0;
    color: rgb(255, 255, 255);
}
p.footer-content-head{
    font-weight: 800;
    font-size: x-large;
}



